body {
    background: #ff99997a; /*#ff99997a*/ 
    font: normal 18pt arial;
}
header {
    color: #020202ce;
    text-align: center;
}
section {
    background: #fffffff3;
    border-radius: 45px;
    padding: 25px;
    width: 550px;
    margin: auto;
    box-shadow: 5px 5px 10px #000000b0;
}
div#res{
    text-align: center; /*essa linha serve para centralizar o texto e a img*/
}
footer {
    color: #020202ce;
    text-align: center;
    font-style: italic;
}
